customer service  support  agen of dachi restaurant  demo.txt
{
  "name": "customer service  support  agen of dachi restaurant",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        656
      ],
      "id": "e0598ba2-370f-4a06-92ff-ef7f050b5d1f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HTAJ2wJHhgyUJsD6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an AI assistant that answers user queries using connected tools.\n\nRules:\n- Use Google Sheet ONLY if the user asks about stored data.\n- Use Google Calendar ONLY if the user asks about availability or booking.\n- Do NOT repeat tool calls once the required information is obtained.\n- After responding to the user, STOP.\n\nCalendar Rules:\n- When checking availability, use get_google_calendar.\n- Use the word \"Slot\" instead of event.\n- If a slot is available, inform the user and ask for confirmation.\n- Do not create a booking unless the user explicitly confirms.\n\nResponse Rules:\n- Max 3 sentences\n- Be concise and clear\n- Never mention sheets or tools\n\n\nYou are an AI agent that manages information in a Google Sheet. Your job is to read incoming chat messages, review the current sheet data And answer the user query\n\nWhatever question the user asks always go to the Google Sheet to refer for the answer\n\n## Core Process\n\n1. **Read the message**: Understand what the user is asking for or reporting\n2. **Review the sheet**: Use the read tool to get current data from all relevant sections\n3. **Analyze**: Determine what information needs to be shared\n4. Check Availability : Use the Calendar Get tool to check the availability\n5. Book Session : Use the Create Calendar tool to book the session \n6. **Confirm**: Once the client gives the confirmation shoot a mail of the confirmation to the client using the Send email tool \n\n## Available Tools\n\n- `read_google_sheet`: Retrieves current data from the Google Sheet\n- get_google_calendar : Retrieves the availability if the user asks for\n- create_google_calendar : If the user asked to book the date and time create an event in the calendar\n\n## Guidelines\n\n- Always read the sheet first before answering any query\n- If the message is unclear, ask for clarification\n- Provide a brief summary of what you updated after making changes\n\n## Response Format\n\n1. Read the current sheet data\n\nStay focused, efficient, and accurate in your updates.\n\nIf the user asks something and the data is not available on the sheet, Tell the user that you couldn't provide the information because of the privacy reason.\n\nNever mention  \"in the sheet\" to the user instead mention \"in the database\"\n\nKeep all the responses as concise as possible and not more than three lines or three sentences\n\nIf the user asks for date availability use the calendar tool to check the availability on those dates\n\nWhen the user asks for the booking confirmation and everything ask him or her his full an email address and then schedule an event Also in creating the event add the details.\n\nIf you are booking or checking the availability never say ‘event’  always say Slot",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        432
      ],
      "id": "c9b2585a-42e2-4825-93a6-f72fca5e900b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        96,
        656
      ],
      "id": "4d0117f0-ee4b-4eec-b03a-54f1eb6491d5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Received Message').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        416
      ],
      "id": "19f6fa93-9180-453b-af1e-d622b051dc74",
      "name": "Send a text message",
      "webhookId": "0ab71945-f681-4af1-9288-9865b335b73e",
      "credentials": {
        "telegramApi": {
          "id": "XteQXDF3ZnWrVcPa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        432
      ],
      "id": "4d3dfee5-d4ae-4509-b097-1722f818cbd8",
      "name": "Received Message",
      "webhookId": "e92b35a9-1b67-4e98-bd8b-b399f07a1b55",
      "credentials": {
        "telegramApi": {
          "id": "XteQXDF3ZnWrVcPa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11P16E3xDNqAyElDyXqrCb0i-ap6olRwRUvOmVb8cR84",
          "mode": "list",
          "cachedResultName": "DataBase SHOP 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11P16E3xDNqAyElDyXqrCb0i-ap6olRwRUvOmVb8cR84/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11P16E3xDNqAyElDyXqrCb0i-ap6olRwRUvOmVb8cR84/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        640
      ],
      "id": "885c09c8-7059-47bb-a83b-8e1a231afec4",
      "name": "Dachi Restaurant Menu Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uopVgwHcrsBWweBe",
          "name": "second credential"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "hafizirfan4864@gmail.com",
          "mode": "list",
          "cachedResultName": "hafizirfan4864@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        640
      ],
      "id": "a86087b6-a27e-4860-89c8-4de581ef48a9",
      "name": "booking dates",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KwuS6vaEChkDuYhy",
          "name": "Second Credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Received Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dachi Restaurant Menu Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "booking dates": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e8e10d77-f341-4cf6-85c1-521ecce4387e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eeec18a66204091cb106784ac869137fcb9d53ddcb212f1a8e90074e1f8a1cd8"
  },
  "id": "080nxkLpKl-pi9fHoYBHA",
  "tags": []
}